:root {
    --color-one: #e6e6ff;
    --color-two: #007BFF;
    --color-three: #b3b3ff;
}

.navbar.white {
    background: white !important;
    font-size: 15px;
    color: black !important;
}

 /* nav .navbar-nav li a{
    color: white !important;
} */

.navbar{
    color: white;
    font-size: 15px;
}

.banner-image {
    background-image: url("/image/banner.avif");
    background-size: cover;
    background-position: top center;
}

.card {
    border: 1px solid var(--color-three);
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card:hover {
    border: 1px solid var(--color-two);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card .card-body h2 {
    color: var(--color-two);
}

.card img:hover {
    opacity: 0.6;
}

.card-p {
    color: var(--color-three);
}

.card-p i {
    color: var(--color-two);
    margin-right: 8px;
}



